body{
font-family:arial, san-serif, serif;
margin:0px;
}

body p{
font-size:12px;
}

#container{
	margin-left:auto;
	margin-right:auto;
	width: 1024px;
	overflow:hidden;
}

#page{
	float:left;
	width: 554px;
}

#leftside{
	width: 210px;
	float:left;
}

#rightside{
	width:260px;
	float:left;
}

#header{
background-image:url('/images/gradient.png');
background-repeat:repeat-x;
height:97px;
}

#footer{
}

#title{
height:35px;
padding-left:17px;
padding-top:10px;
/*background-image:url('/images/title_gradient.png');*/
background-repeat:repeat-x;
/* background-color:#474646; */
background-color:#727299;
margin-bottom:30px;
}

.h2{
font-size:18px;
color:#666;
padding-bottom:10px;
}

.h1{
float:left;
font-size:23px;
font-weight:normal;
margin:0px;
color:#fff;
}
.button{
height:30px;
font-size:15px;
color:#333;
}
.siteLinks a{
font-size:12px;
color:#777;
} 

.results ul li{
	padding: 2px 0px;
} 

.row{
	padding: 3px 0px;
}

#searchbox{
	background-color: #49B7DB;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;	
	padding: 10px;
}

#search input[type=text], #search select{
	border: 1px solid #D5DCE3;
/*    color: #A2A2A2; */
    color: #555555;
    font-family: Arial;
    font-size: 14px;	
}

#search select{

}

#search label{
	font-size: 1.1em;
	color: #FDFDFD;
	padding-right: 5px;
}

#search input[type=submit]{
	background-color:#238FB3;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:2px #FFFFFF solid;
	padding: 4px 2;
	color: #FDFFFF;
	font-size: 14px;
	cursor:pointer;	
}

.tiny{
	font-size:0.7em;
}