<% content_for :title_text do %>
	<h1 class='h1'>AboutUs</h1>
<% end %>
<p>
Graduation is the single most defining step in most students' lives. Which college/branch one gets will determine the future opportunities both on the jobs front and on the higher education front. This outcome determines the students' most productive 4 years of his/her academic life.
</p>
<p>
Hence, we believe utmost care should be taken in determining once's choices for graduation. This is especially important for students in Andhra Pradesh, as we face the problem of too many colleges for engineering with amny left over seats each year. But when we look around, there is no scientific method to determine the choices or there is no easy to use tools to know what others who are in the same situation as you, have done in the previous years, Also, we have seen many students blindly following what their seniors/ friends/acquaintances or neighbors have suggested or joined earlier.
</p>
<p>
Our portal, Eamcet colleges is a humble effort towards addressing this problem of decision making. We believe one should take time to do research on available options in a stress free environment, and take an informed decision. To aid this, we present to you, one of the most clutter free , easy to use and intuitive college decision making portals.
</p>
<p>
Eamcet Colleges helps you to do the following simple tasks: <br/><br/>
<ul>
<li>Check out what colleges you can get for a given rank (based on previous years' data)</li>
<li>Filter/ Refine the search results based on your criteria</li>
<li>Search for a college or course with a keyword</li>
<li>Check out all colleges in a particular region/university or those offering a particular discipline of your interest.</li>
<li>Check out all the details of a college, to decide whether the college is of any value to you.</li>
<li>Check out the Latest news related to eamcet</li>
<li>Checkout Colleges in Andhra pradesh, based on previous year's (2009, 2010) closing ranks.</li>
</ul>
Hope you appreciate our initiative.
</p>
<b>Your feedback is the most valuable return gift that you can give us. Feel free to write to us @ feedback@eamcetcolleges.com.</b>
<br/>
~ Eamcet colleges Team