<% content_for :title_text do %>
	<h1 class='h1'>Disclaimer</h1>
<% end %>
<p>
We have tried our best to provide you with the most latest and authentic information related to engineering admissions and engineering colleges in Andhra Pradesh. We would like to state clearly that this information is collated from reliable secondary sources and is correct to the best of our knowledge.How ever, you understand that there is always a scope for minor unforseen errors, especially if there is a large data mining excercise involved. Hence, we would request you to let us know if there are any discrepancies in the data, so that we can correct the data immediately. This will help us in helping lot of people to take informed decisions. Eamcetcolleges.com bears no responsibility for any unforseen / minor errors in data, that creep in. We would also like to reiterate the fact that the counseling help we are offering based on your rank, is only indicative, to help you decide better and may not be accurate, as you know that the actual counseling process has a lot of other factors like fees, location, timing, human mindset, etc playing during that time.
</p>
~ Eamcet colleges Team
