<%= render :partial => 'common/eamcet_search',  :locals => {:pdata => @data} %>
	<div class='results'>
	<ul>
	<% @results.each do |result|%>
		<li>
		<%= link_to result.colleges_course.college.name, college_path(result.colleges_course.college) %> - <%= result.colleges_course.course.name %>
		</li>
	<% end %>
	</ul>
	</div>
<%= will_paginate @results, :params => params[:eamcet] %>