<div class='contactus-form' style='background-color:white; width:700px; padding:15px;'>
	<h2>Thank you!</h2>
	<div class='cover'>	
	<p>
		One of our business personal will contact you soon.
	</p>
	</div>
</div>