<%= content_for :title_text do %>
	<h1 class='h1'>Eamcet Colleges Search Result</h1>
<% end %>
<div class='search results'>
	<ul>
	<% @colleges.each do |college| %>
		<li><%= link_to college.name, college_path(college)%></li>
	<% end %>
	</ul>
</div>