<div id="accordion">

	<div class='widget'>	
		<h2><a name="regions">Regions</a></h2>
		<div>
			<ul>
			<% regions.each do |region| %>
				<li><%= link_to regions(region), colleges_search_path(:region => region)%></li>
			<% end %>	
			</ul>
		</div>
	</div>
		
	<div class='widget'>	
		<h2><a name="districts">Districts</a></h2>
		<div>
			<ul>
			<% districts.sort.each do |district| %>
				<li><%= link_to districts(district), colleges_search_path(:district => district)%></li>
			<% end %>	
			</ul>
		</div>
	</div>

	<div class='widget'>	
		<h2><a name="universities">Universities</a></h2>
		<div>
			<ul>
			<% universities.sort.each do |university| %>
				<li><%= link_to universities(university), colleges_search_path(:affl => university)%></li>
			<% end %>	
			</ul>
		</div>
	</div>


</div>

<script type='text/javascript'>
//	$("#accordion").accordion({ header: "h3" });
</script>
