<div class='widget college_search'>
	<h2>Explore Colleges</h2>
	<ul>
		<li><%= link_to 'By Regions'%></li>
		<li><%= link_to 'By Districts'%></li>
		<li><%= link_to 'By Universities'%></li>				
	</ul>
</div>