<div class='widget college_search'>
	<h2>Explore Colleges</h2>
	<ul>
		<li><%= link_to 'By Regions', '/colleges#regions'%></li>
		<li><%= link_to 'By Districts', '/colleges#districts'%></li>
		<li><%= link_to 'By Universities', '/colleges#universities'%></li>				
	</ul>
</div>